table {
    border: 4px solid purple;
    /*border-collapse: collapse; esto junta los dos bordes*/
}

th, td {
    border: 4px solid palevioletred;
}

.rojoPSOE {
    background-color: red;
}

caption {
    border: 4px solid pink;
}
